body,
html {
  height: auto;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  background-color: white;
}
main article {
  padding: 10px 40px 40px 40px;
  display: block;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main article {
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  main article {
    padding: 20px 0;
  }
}

.news-headline {
  padding: 10px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .news-headline h1 {
    font-size: 18px;
  }
  .news-headline h3 {
    font-size: 16px;
  }
}

.section-news {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 40px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
}
@media screen and (max-width: 1290px) {
  .section-news {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 969px) {
  .section-news {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .section-news {
    padding: 20px;
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .section-news {
    border-radius: 0;
  }
}

.news-card-wrapper {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  height: 250px;
  background-color: white;
  box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 768px) {
  .news-card-wrapper {
    padding: 10px;
  }
}
.news-card-wrapper .news-card-image,
.news-card-wrapper .news-card-description {
  width: 50%;
}
.news-card-wrapper .news-card-image {
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.news-card-wrapper .news-card-image.image1 {
  background-image: url(../news-image/summer_campaign.jpg);
}
.news-card-wrapper .news-card-image.image2 {
  background-image: url(../news-image/asian_woman.jpg);
}
.news-card-wrapper .news-card-image.image3 {
  background-image: url(../news-image/momocity.jpg);
}
.news-card-wrapper .news-card-image.image4 {
  background-image: url(../news-image/new_fragrance.jpg);
}
.news-card-wrapper .news-card-image.image5 {
  background-image: url(../news-image/st_romance_ec_site.jpg);
  background-position: top left;
}
.news-card-wrapper .news-card-image.image6 {
  background-image: url(../news-image/boots.jpg);
}
.news-card-wrapper .news-card-description {
  padding: 20px;
  padding-right: 0;
  display: block;
  color: black;
  position: relative;
}
.news-card-wrapper .news-card-description p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .news-card-wrapper .news-card-description p {
    -webkit-line-clamp: 3;
  }
}
.news-card-wrapper .news-card-description button {
  text-decoration: underline;
  background-color: white;
  border: none;
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .news-card-wrapper {
    display: block;
    height: 350px;
  }
  .news-card-wrapper .news-card-image,
  .news-card-wrapper .news-card-description {
    width: 100%;
    height: 50%;
  }
  .news-card-wrapper .news-card-description {
    padding: 20px 10px 10px 10px;
  }
}
.news-page-nation-wrapper {
  width: 100%;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .news-page-nation-wrapper {
    padding-top: 20px;
  }
}
.news-page-nation-wrapper .pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.news-page-nation-wrapper .pagination li {
  margin: 0 5px;
}
.news-page-nation-wrapper .pagination a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .news-page-nation-wrapper .pagination a {
    font-size: 12px;
    padding: 2px 5px;
  }
}/*# sourceMappingURL=news.css.map */