body,
html {
  height: 100svh;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

/* 女性モデルの写真の背景の設定 */
.main-background-image {
  z-index: -10;
}
/* 擬似要素で背景を固定 */
/* background-size:cover
  background-position:fix
  この二つを組み合わせるとiPhoneではCSSが効かなくなる */
.main-background-image::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -11;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url(../../image/st-romance-index.jpg);
  background-size: cover;
}

/* モバイル用の背景写真 */
@media screen and (max-width: 768px) {
  .main-background-image::before {
    background-image: url(../../image/st-romance-index.jpg);
  }
}
/* ページに入った時の白背景のフェードアウト */
.fadeout-backgrorund {
  background-color: white;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadein-keyframes 2s ease-in-out 3s forwards;
  animation-iteration-count: 1;
  pointer-events: none;
  @keyframes fadein-keyframes {
    0% {
      display: block;
      opacity: 1;
    } /*アニメーション開始時は不透明度0%*/

    100% {
      display: none;
      opacity: 0;
    } /*アニメーション終了時は不透明度100%*/
  }
}

/* ブランドロゴ スタイル */
.saint-romance-logo {
  width: 100%;
  height: 60%;
  min-height: 400px;
  position: relative;
  padding: 5%;
  justify-content: center;
  text-align: center;
  .logo-area {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;

    & svg {
      & path {
        fill: #f7931e;
        fill-opacity: 0;
        stroke: #f7931e;
        stroke-width: 1px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: 2s ease-in forwards 0.2s textAnimation;
      }
    }
  }

  /* ブランドロゴ　アニメーション */
  @keyframes textAnimation {
    0% {
      stroke-dashoffset: 1000;
    }
    80% {
      stroke-dashoffset: 0;
      fill-opacity: 0;
    }
    100% {
      stroke-dashoffset: 0;
      fill-opacity: 1;
    }
  }

  @media screen and (max-width: 966px) {
    min-height: 300px;
  }
  @media screen and (max-width: 768px) {
    min-height: 200px;
  }
}

/* アコーディオンメニュー & メインコンテンツのメニュー */
.romance-menu {
  width: 45%;
  height: auto;
  list-style: none;
  letter-spacing: 0.1em;
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 5%;
  color: #f7931e;
  z-index: 1;
  position: relative;
  font-weight: 700;
  margin-top: 60px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  transition: all 0.5s ease;
  @media screen and (min-width: 1200px) {
    margin-left: 8%;
  }

  @media screen and (max-width: 480px) {
    width: 65%;
  }

  & .acordion-item {
    font-size: 48px;
    cursor: pointer;
  }
  & .acordion-shadow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  a {
    text-decoration: none;
    color: #f7931e;
    cursor: pointer;
  }

  ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
    font-size: 40px;
    display: none;
  }
  li:hover {
    cursor: pointer;
  }
  li a {
    display: block;
    text-decoration: none;
    color: #f7931e;
  }

  @media screen and (max-width: 966px) {
    margin-top: 90px;
    & .acordion-item,
    ul {
      font-size: 32px;
    }
  }
  @media screen and (max-width: 768px) {
    margin-top: 30px;
    & .acordion-item,
    ul {
      font-size: 20px;
    }
  }
}

.iconic-collection-wrapper {
  width: 100%;
  height: auto;
  padding: 5%;
  top: -50px;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: right;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  & .iconic-collection-area {
    justify-content: right;
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    gap: 20px;
    @media screen and (min-width: 1200px) {
      margin-right: 8%;
    }
    @media screen and (max-width: 966px) {
      padding: 15px;
    }
    @media screen and (max-width: 768px) {
      padding: 10px;
    }
  }
  & .iconic-collection {
    width: 150px;
    height: 400px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
    text-shadow: 1px 1px 1px #808080;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: right;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: translateY(-8px);
      cursor: pointer;
    }

    @media screen and (max-width: 966px) {
      width: 100px;
      height: 300px;
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      width: 70px;
      height: 180px;
      font-size: 16px;
    }
    &.ic1 {
      background-image: url(../../image/collection_image/dress.jpg);
    }
    &.ic2 {
      background-image: url(../../image/collection_image/heels.jpg);
    }
    &.ic3 {
      background-image: url(../../image/collection_image/makeup.jpg);
    }
  }
}
